.sc-aXZVg {
    padding: 4px;
    background-color: transparent;
    padding-right: 6px;
    border: 2px dashed rgb(6, 88, 194);
}

.guZdik {
    min-width: 100px!important;
    max-width: 50px!important;
}
