/*dark mode*/
* {
    color: "white";
}

.list-item-wrapper-dark {
    background-color: rgb(201, 201, 201);
}

.search-bar-container-dark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 4px 4px 4px;
    background-color: #00111A;
}

.video-container-dark {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #000E14;
}

/*main editor toolbar*/
.player-config-row-dark {
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-color:#003652;
}

.clickable-icon-dark {
    height: 24px;
    color: white;
}

.scroll-container-dark {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #001B29;
}