.scroll-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.video-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #e7e5e5;
}

.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 4px 0px;
}

.video-player-container {
    position: relative;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 4px 4px 4px;
    background-color: #e7e5e5;
}

.alert-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.response-alert-container {
    transition: opacity 0.5s;
    margin: 0px 8px 0px 0px;
}

#free-solo-demo {
    font-size: 14px;
}

.toolbar-container {
    padding: 8px 8px 0px 8px;
}

.subtitle-list-container {
    overflow-y: hidden;
    padding: 5px 5px 0px 5px;
    height: 100%;
}

.subtitle-list-container-disabled {
    pointer-events: none;
    opacity: 0.7;
}

.list-render-container {
    height: 100px;
}

.player-config-row {
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-color:#eae9e9;
}

.player-config {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px 0px 8px;
}

.list-edit-config-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selected-traverse-button {
    margin: 0px 8px 0px 0px;
}

.autoscroll-switch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.autoscroll-switch-text {
    margin: 0px;
    font-size: 14px;
}

#subtitle {
    transition: opacity 0.1s;
}

/*loading styling*/
.list-loading-spinner-container {
    position: absolute;
    z-index: 999999;
}

.virtual-list-container {
    height: 0px!important;
}

.export-button {
    margin: 0px 4px 0px 0px!important;
}

.edit-all-button {
    margin: 0px 4px 0px 0px!important;
}

.info-modal-button {
    margin: 0px 8px 0px 0px;
}

@media only screen and (max-width: 1000px) {
    .export-button {
        height: 38px!important;
        font-size: 12px!important;
        line-height: 14px!important;
    }
}